@charset "ISO-8859-1";
header,footer
{
	height:100px;
	background-color:cyan;
}

header a
{
	color:blue;
	margin-left:10px;
	text-decoration:none;
}
section
{
	height:500px;
	background-color:green;
}